@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}



body, html, .screen {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    background: url("../img/bg.jpg") repeat 0 0 #E9E9E8;
}

.block {
    background-color: #FFFFFF;
    border-color: #AEAEAE;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin: 5px;
    padding: 5px 15px 5px 15px;
}

.center {
    text-align: center;
}

.whatname {
    text-align: right;
    font-style: italic;
}

.w200 .btn {
    width: 200px;
}

.navbar-fixed-top .navbar-inner {
    box-shadow: 0 0 18px #000000;
}

.navbar-inverse .navbar-inner {
   background: url(/img/bg-top-menu.jpg);
   border: 0;
}

.tweetblock {
    padding: 5px;
}




/* <  screen 1 > */
.screen1 {
    background: url(/img/glass.jpg) no-repeat fixed;
    background-size: 100% 100%;
}
.nav .noactive a {
    color: #999999 !important;
}
.masthead {
    color: #FFFFFF;
    position: relative;
    text-shadow: 0 0 5px rgba(255,255,255,0.3);
}
.masthead .container {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 80%;
    margin: auto;
}
.masthead div.logo {
    background: url(/img/biglogo.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 80px;
    margin-left: 80px;
    height: 200px;
    width: 200px;
    font-size: 120px;
    letter-spacing: -2px;
    line-height: 1;
    float: left;
}

.masthead div.text {
    font-size: 1.5em;
    line-height: 1.3;
    display: table-cell;
    vertical-align: middle;
    height: 200px;
}

.masthead .btn {
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 200;
    padding: 14px 24px;
}
/* </ screen 1 > */



/* <  мы в соцсетях  > */
.soo {
    border-color: #AEAEAE;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin: 5px;
}

.soo a, .soo .we {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}

.soo a {
    display: table-cell;
    width: 33%;
    text-decoration: none;
    font-family: "fontello";
    font-size: 25px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.soo .we {
    float: left;
    width: 40%;
    background: #fff;
    font-weight: bold;
    color: #000;
}
.soo .icons {
    width: 60%;
    float: left;
    box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.2);
    background: #f8f8f8;
    display: table;
}

.soo a.twitter:before { content: '\e800'; }
.soo a.gplus:before { content: '\e801'; }
.soo a.vk:before { content: '\e802'; }

.soo a.twitter {color: #41ABE1;}
.soo a.twitter:hover {background: #41ABE1; color: #fff;}
.soo a.gplus {color: #dd4b39;}
.soo a.gplus:hover {background: #dd4b39; color: #fff;}
.soo a.vk {color: #44678d;}
.soo a.vk:hover {background: #44678d; color: #fff;}
/* </ мы в соцсетях  > */



.data {
    display: table;
    margin:auto;
    height: 100%;
}
.screen2 {
    box-shadow: 0 -10px 10px -10px #000000;
    background: url(/img/bg.jpg) repeat 0 0 #E9E9E8;
    z-index:1;
    position:relative;
}
.screen2 .container, .screen3 .container, .screen4 .container, .screen5 .container {
    display: table-cell;
    vertical-align: middle;
}
.row-fluid {
    position: relative;
}
.screen2 .span6, .screen3 .span6, .screen4, .screen5 {
    position: relative;
}

.pull-right {
    float: right;
}

.history p {
    text-indent: 20px;
}

#reviews .list p {
    font-size: 95%;
    line-height: 11pt;
    padding-top: 5px;
}



@media screen and (max-width: 700px) {
    body {
        font-size: 70%;
    }
}